<div class="popup" *ngIf="display">
  <div class="triangle">
      <span></span>
  </div>
  <i class="fa fa-close cancel-popup" (click)="cancel()" 
    style="position:absolute;top: 5px;right: 15px;font-size: 18px;color: #00B4CF;cursor: pointer;"></i>
  <form #addForm="ngForm">
    <div><span>Separate mutiple resources name with comas</span></div>
    <div><input type="text" name="resourceName" [(ngModel)]="resourceName" placeholder="input value" required></div> 
    
    <div class="option-btn">
      <button class="add blue-btn" (click)="addResouse()" [disabled]="addForm.invalid">Add Resources</button>
      <button class="cancel-popup gray-btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>