<div class="popup">
  <div class="triangle">
      <span></span>
  </div>
  <i class="fa fa-close" style="position:absolute;top: 0;right: 0;font-size: 16px;"></i>
  <form>
    <div><span>Separate mutiple resources name with comas</span></div>
    <!-- <div><input type="text" name="resourceName" [(ngModel)]="resourceName"></div>    -->
    <div><input type="text" name="resourceName"></div>   
    
    <div class="option-btn">
      <button class="add">Add Resources</button>
      <button class="cancel">Cancel</button>
    </div>
  </form>
</div>