<div class="menu">
  <div class="menu-list">
    <ul>
        <li>
            <i class="icon fa fa-ravelry"></i>
            <span>DASHBOARD</span>
        </li>
        <li>
            <i class="icon fa fa-ravelry"></i>
            <span>AGENT</span></li>
        <li>
            <i class="icon fa fa-ravelry"></i>
            <span>MY CRUISE</span>
        </li>
        <li>
            <i class="icon fa fa-ravelry"></i>
            <span>HELP</span>
        </li>
    </ul>
  </div>
  <div class="history"></div>
</div>