.menu {
    float: right;
    height: 100%;
    width: 100%;
    background-color: #2d4054;
}

.menu-list {
    padding: 20px 0;
}

.icon {
    margin-right: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

.menu-list li {
    color: #fff;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 30px;
}

.menu-list li:hover {
    background-color: #435466;
    cursor: pointer;
}

.menu-list li > span,
.menu-list li > i {
    color: #fff;
} 

.menu-list li:hover > span,
.menu-list li:hover > i {
    color: #00B4Cf;
} 