<div class="menu">
  <div class="menu-top">
    <md-nav-list>
      <md-list-item>
          <md-icon class="logo" svgIcon="logo"></md-icon>
          <span matListLine>DASHBOARD</span>
      </md-list-item>
      <md-list-item>
          <md-icon class="logo" svgIcon="logo"></md-icon>
          <span matListLine>AGENT</span>
      </md-list-item>
      <md-list-item>
          <md-icon class="logo" svgIcon="logo"></md-icon>
          <span matListLine>MY CRUISE</span>
      </md-list-item>
      <md-list-item>
          <md-icon class="logo" svgIcon="logo"></md-icon>
          <span matListLine>HELP</span>
      </md-list-item>
    </md-nav-list>
  </div>
  <div class="history"></div>
</div>