<div class="work-area">
  <div class="work-header">
    <div class="header-item" style="background-color: #FF9A2A;">
      <span class="item-title">Building</span>
      <md-icon class="item-icon" svgIcon="setting"></md-icon>
      <span class="item-num">3</span>
    </div>
    <div class="header-item" style="background-color: #7FBC39;margin: auto 20px;">
      <span class="item-title">Idle</span>
      <md-icon class="item-icon" svgIcon="coffee"></md-icon>
      <span class="item-num">5</span>
    </div>
    <div class="header-item fill-remaining-space" style="background-color: #FFF;"></div>
  </div>

  <div class="tabs-bar">
    <ul>
      <li class="tab-title"><span>All</span></li>
      <li class="tab-title"><span>Physical</span></li>
      <li class="tab-title"><span>Virtual</span></li>
      <li class="tab-search">
        <input type="text">
      </li>
      <li class="tab-icon">
        <md-icon></md-icon>
        <md-icon></md-icon>
      </li>
    </ul>
  </div>

  <div class="work-list"></div>
</div>
