.work-area {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.work-header {
    display: flex;
    flex-direction: row;    
}

.header-item{
    height: 144px;
    display: flex;
}

.item-title{
    font: 18px bold;
    color: #fff;
    align-self: flex-start;
    padding: 10px;
}

.item-icon{
    align-self: center;
    height: 144px;
    width: 144px;
    opacity: 0.2;
}

.item-num{
    font-size: 48px;
    color: #fff;
    align-self: flex-end;
    padding: 10px;    
}

.tabs-bar {
    background-color: #fff;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    height: 100%;
    margin: 0;
    padding-left: 0;
}
ul > li {
    height: 100%;
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
}

li.tab-title {
    border-right: 1px solid #e8e8e8;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

li.tab-title:hover {
    border-bottom: 3px solid #00B4CF;
    color: #00B4CF;
}

li.tab-title:hover span {
    color: #00B4CF;
}

li.tab-icon {
    float: right;
}
