<div #workArea class="work-area">
  <div class="work-header">
    <div class="header-item" style="background-color: #FF9A2A;">
      <span class="item-title">Building</span>
      <i class="fa fa-cog item-icon"></i>
      <span class="item-num">3</span>
    </div>
    <div class="header-item" style="background-color: #7FBC39;margin: auto 20px;">
      <span class="item-title">Idle</span>
      <i class="fa fa-coffee item-icon"></i>
      <span class="item-num">5</span>
    </div>
    <div class="header-item fill-remaining-space" style="background-color: #FFF;">
      <ul class="count-num">
        <li>
          <span class="num-title">ALL</span>
          <span class="number">8</span>
        </li>
        <li>
          <span class="num-title">PGYSICAL</span>
          <span class="number">4</span>
        </li>
        <li>
          <span class="num-title">VIRTUAL</span>
          <span class="number">4</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="tabs-bar">
    <ul>
      <li class="tab-title" [class.active]="tabActive=='all'" (click)="tabActive = 'all'">
        <span>All</span>
      </li>
      <li class="tab-title" [class.active]="tabActive=='physical'" (click)="tabActive = 'physical'">
        <span>Physical</span>
      </li>
      <li class="tab-title" [class.active]="tabActive=='virtual'" (click)="tabActive = 'virtual'">
        <span>Virtual</span>
      </li>
      <li class="tab-search">
        <i class="fa fa-search"></i>
       <input type="text" name="search">
      </li>
      <li class="tab-icon">
        <i class="fa fa-th" [class.active]="showList=='th'" (click)="showList = 'th'" style="margin-right: 10px;"></i>
        <i class="fa fa-th-list" [class.active]="showList=='list'" (click)="showList = 'list'"></i>
      </li>
    </ul>
  </div>

  <div class="work-list">
    <ng-container *ngFor="let agent of listData">
      <div class="agent">
        <div class="software">
          <img src="assets/image/os/{{agent.os}}.png" alt="">
        </div>
        <div class="software-info">

          <div class="detail">
            <ul>
              <li class="name">
                <i class="fa fa-computer"></i>
                <span>{{ agent.name }}</span>
              </li>
              <li class="{{ agent.status }} status">
                <span>{{ agent.status }}</span>
              </li>
            </ul>
            <ul>
              <li>
                <i class="fa fa-attention"></i>
                <span>{{ agent.ip }}</span>
              </li>
              <li>
                <i class="fa fa-folder-o"></i>
                <span>{{ agent.location }}</span>
              </li>
            </ul>
          </div>

          <div class="resources">
            <ul>
              <li class="add-resource" (click)="popup.show($event)">
                <i class="fa fa-plus-square"></i>
                <app-popup #popup [agentInfo]="agent" (onAdd)="agent.resources=updateResources($event)"></app-popup>
              </li>
              <li *ngFor="let item of agent.resources;let i = index">                
                <span>{{ item }}</span>
                <!-- <i class="fa fa-trash-o" (click)="agent.resources.splice(i,1)"></i> -->
                <i class="fa fa-trash-o" (click)="agent.resources = deleteResource(agent,i)"></i>
              </li>
            </ul>
          </div>

          <div class="deny" *ngIf="agent.status == 'building'">
            <button class="blue-btn">
              <i class="fa fa-ban"></i>
              <label for="">Deny</label>
            </button>
          </div>

        </div>        
      </div>
    </ng-container>
  </div>
</div>
