/* 使用 flex 布局*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; // 引入了 material 主题
@import 'theme.scss';  // 引入时报错了执行 npm i node-sass@4.8.1

html, body, app-roots, .site, md-sidenav-container{
    width: 100%;
    height: 100%;
    margin: 0;
}
.site{
    display: flex;
    flex-direction: column;  // 纵向
}
main{
    flex: 1;
}
.full-width{
    width: 100%;
}

.fill-maining-space{
    flex: 1 1 auto;
}
