<!--The content below is only a placeholder and can be replaced.-->
<div class="site">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <!-- <md-grid-list colspan="12">
      <md-grid-tile colspan="1"></md-grid-tile>
      <md-grid-tile colspan="2">
          <app-menu></app-menu>
      </md-grid-tile>
      <md-grid-tile colspan="8">
          <app-work></app-work>
      </md-grid-tile>
      <md-grid-tile colspan="1"></md-grid-tile>
    </md-grid-list> -->
    <div class="fill-remaining-space"></div>
    <div style="width: 15%">
      <app-menu></app-menu>
    </div>
    <div style="width: 70%">
      <app-work></app-work>
    </div>
    <div class="fill-remaining-space"></div>    
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>


